html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
}

.logo {
  border: solid red 0.1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  align-self: center;
  height: 3rem;
}

.logo img {
  height: 100%;
}

.title #acad{
  color: gray;
}

#desktopnav {
  border: red solid 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  margin-left: 20rem;
}

/*Styles for the learn section*/

.learn {
  border: red solid 0.1rem;
  display: flex;
}

.learntxt {
  border: red solid 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  text-align: center;
}

.learn img{
  width: 56.5%;
  height: 55%;
  padding: 2rem 1.5rem;
}

@media only screen and (max-width 470px) {
  .learn {
    display: flex;
    flex-direction: column;
  }
  .learn img {
    width: auto;
    height: auto;
    padding: 0;
  }

}

.information {
  display: flex;
  padding-top: 2rem;
}

#reading {
  height: 50%;
  padding-left: 1.5rem;
}

.infocont1 {
  border: solid red 0.1rem;
  width: 60%;
}

@media only screen and (max-width: 470px) {
  .information {
    display: flex;
    flex-direction: column;
  }
  .infocont1 {
    display: none;
  }
}

#textcont1 {
  padding: 0 1.5rem;
}

.info2 {
  border: solid red 0.1rem;
  flex-direction: row;
  width: 40%;
}

.infocont2{
  border: solid red 0.1rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.infocont2 img {
  width: 35%;
  height: 25%;
}

.infotextcont2 h3 {
  padding-left: 1rem;
}

.infotextcont2 p {
  padding-left: 1rem;
}

.infotextcont2 a{
  padding-left: 1rem;
}

/*Courses section*/

.courses {
  display: flex;
  flex-direction: column;
}

.courses h1{
  text-align: center;
}

.courses img {
  width: 90%;
  height: auto;
}

.courses p {
  width: 70%;
  display: flex;
}

.row1 {
  display: flex;
  border: red solid 0.1rem;
  flex-direction: row;
  padding-left: 4.5rem;
}

#compart, #business {
  padding-left: 2.5rem;
}

.row2 {
  display: flex;
  border: red solid 0.1rem;
  flex-direction: row;
  padding-left: 4.5rem;
}

#im1, #im3, #im4, #im6{
  height: 55%;
}

#im2, #im5 {
  width: 80%;
  height: 55%;
}

@media only screen and (max-width: 470px) {
  #im1, #im2, #im3, #im4, #im5, #im6 {
    display: none;
  }

  .row1 p {
    display: none;
  }

  .row2 p {
    display: none;
  }
}

#compart #business{
  padding-left: 2rem;
  padding-right: 2rem;
}

/*Thesis section*/

#thesishd {
  text-align: center;
}

.thesis {
    display: flex;
    flex-direction: row;
}

.vidcol {
  border: red solid 0.1rem;
  width: 60%;
}

.vidcol video{
  border: red solid 0.1rem;
  box-sizing: content-box;
  width: 90%;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.vidcol p {
  width: 95%;
  padding-left: 1.5rem;
}

.vidcol h2 {
  padding-left: 1.5rem;
}

@media only screen and (max-width: 470px){
  .vidcol p, h2 {
    display: none;
  }
}

.thesiscol {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 470px){
  .thesiscol {
    display: none;
  }
}

.fisma {
  display: flex;
  flex-direction: row;
}

.fisma img{
  height: 35%;
  width: 35%;
  padding: 1rem;
}

.fismatxt {
  display: flex;
  flex-direction: column;
}

#now {
  display: flex;
  flex-direction: row;
}

/*Footer styling*/

footer {
  border: red solid 0.1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 3rem;
  align-items: center;
}

.copyright {
  margin-left: 1.5rem;
}

#terms {
  margin-left: 48rem;
  border: red solid 0.1rem;
}

.legal {
  margin-left: 2rem;
}
