html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

/*HEADER AND NAVIGATION*/

@media only screen and (max-width: 470px) {
  .head {
    display: none;
  }
}

.mobilenav {
  display: none;
}

@media only screen and (max-width: 470px) {
  .mobilenav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 4rem;
  }
}

.head {
  display: flex;
  flex-direction: row;
  /*position: fixed;*/
}

.logo {
  border: solid red 0.1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  align-self: center;
  height: 3rem;
}

.logo img {
  height: 100%;
}

.title #acad{
  color: gray;
}

#desktopnav {
  border: red solid 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  margin-left: 20rem;
}

/*Styles for the learn section*/

.learn {
  border: red solid 0.1rem;
  display: flex;
  background-color: lightblue;
  /*flex-direction: row;*/
}

.learntxt {
  border: red solid 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  text-align: center;
}

.learn img{
  width: 56.5%;
  height: 55%;
  padding: 2rem 1.5rem;
}

@media only screen and (max-width: 470px) {
  .learn {
    display: inline-block;
  }
  #study {
    width: 100%;
    padding-left: 0rem;
  }
}

.information {
  display: flex;
  padding-top: 2rem;
}

#reading {
  height: auto;
  width: 94%;
  padding-left: 1.5rem;
}

.infocont1 {
  border: solid red 0.1rem;
  width: 60%;
  height: 38rem;
}

@media only screen and (max-width: 470px) {
  .information {
    display: flex;
    flex-direction: column;
  }
  .infocont1 {
    display: none;
  }
}

#textcont1 {
  padding: 0 1.5rem;
}

.info2 {
  border: solid red 0.1rem;
  flex-direction: row;
  width: 40%;
}

.infocont2{
  border: solid red 0.1rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

#guestspeaker {
  background-color: lightblue;
}

@media only screen and (max-width: 470px) {
  .info2 {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .infocont2 {
    flex-direction: column;
  }
}

.infocont2 img {
  width: 35%;
  height: 25%;
}

.infotextcont2 h3 {
  padding-left: 1rem;
}

.infotextcont2 p {
  padding-left: 1rem;
}

.infotextcont2 a{
  padding-left: 1rem;
}

#guest, #campus, #orientation {
  display: none;
}

/*MEDIA QUERY FOR INFORMATION SECTION*/

@media only screen and (max-width: 470px) {
  .infocont2 img {
    display: none;
  }

  #guest, #campus, #orientation {
    display: block;
    width: 100%;
  }
}

/*Courses section*/

.courses {
  display: flex;
  flex-direction: column;
}

.courses h1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: lightblue;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.courses img {
  max-width: 100%;
  height: auto;
}

.courses p {
  width: 70%;
  display: flex;
}

.row1, .row2 {
  display: flex;
  border: red solid 0.1rem;
  flex-direction: row;
  padding-bottom: 2rem;
}

.row2 {
  padding-top: 1rem;
  background-color: lightblue;
}

.row1 {
  background-color: lightblue;
}

/*STYLING FOR INDIVIDUAL DIVS AND IMAGES IN THE COURSES SECTION*/

#softeng, #compart, #design, #data, #business, #marketing {
  background-color: white;
}

#compart, #business {
  margin-left: 1rem;
  margin-right: 1rem;
  border: red solid 0.1rem;
}


#softeng, #data {
  margin-left: 2rem;
  margin-right: 1rem;
}

#design, #marketing {
  margin-left: 1rem;
  margin-right: 2rem;
}

#im1, #im3, #im4, #im6{
  height: 55%;
}

#im2, #im5 {
  max-width: 100%;
  height: 55%;
}

/*MEDIA QUERIES FOR COURSES SECTION*/

@media only screen and (max-width: 470px) {
  .row1, .row2{
    flex-direction: column;
    padding-left: 0;
    text-align: center;
  }

  #im1, #im2, #im3, #im4, #im5, #im6 {
    display: none;
  }

  .row1 p {
    display: none;
  }

  .row2 p {
    display: none;
  }

  #business, #compart{
    padding-left: 0rem;
  }

  .courses h3 {
    /*width: 100%;*/
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}


/*Thesis section*/

#thesishd {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.thesis {
    display: flex;
    flex-direction: row;
}

.vidcol {
  border: red solid 0.1rem;
  width: 60%;
}

.vidcol video{
  border: red solid 0.1rem;
  width: 90%;
  padding-left: 1.5rem;
}

.vidcol p {
  width: 95%;
  padding-left: 1.5rem;
}

.vidcol h2 {
  padding-left: 1.5rem;
}

@media only screen and (max-width: 470px){
  .vidcol p, h2 {
    display: none;
  }
  .vidcol{
    width: 100%;
  }
  .vidcol video {
    width: 100%;
    padding: 0rem 0rem 0rem 0rem;
  }
}

.thesiscol {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 470px){
  .thesiscol {
    display: none;
  }
}

.fisma {
  display: flex;
  flex-direction: row;
}

.fisma img{
  height: 35%;
  width: 35%;
  padding: 1rem;
}

.fismatxt {
  display: flex;
  flex-direction: column;
}

#fismadesign {
  background-color: lightblue;
}

#now {
  display: flex;
  flex-direction: row;
}

/*Footer styling*/

footer {
  border: red solid 0.1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 3rem;
  align-items: center;
}

.copyright {
  margin-left: 1.5rem;
}

#terms {
  margin-left: 48rem;
  border: red solid 0.1rem;
}

.legal {
  margin-left: 2rem;
}

@media only screen and (max-width: 470px) {
  #terms {
    display: none;
  }
  .legal {
    display: none;
  }
}
