html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
}

.logo {
  border: solid red 0.1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  align-self: center;
  height: 3rem;
}

.logo img {
  height: 100%;
}

.title #acad{
  color: gray;
}

#desktopnav {
  border: red solid 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  margin-left: 20rem;
}

/*Styles for the learn section*/

.learn {
  border: red solid 0.1rem;
  display: flex;
}

.learn img{
  width: 60%;
  height: 60%;
}

.information {
  display: flex;
}

.infocont1 img {
  /*width: 93%;*/
  height: 35%;
}

.infocont1 {
  border: solid red 0.1rem;
  width: 60%;
}

.info2 {
  border: solid red 0.1rem;
  flex-direction: row;
  width: 40%;
}

.infocont2{
  border: solid red 0.1rem;
  display: flex;
  flex-direction: row;
}

/*Courses section*/

.courses {
  display: flex;
  flex-direction: column;
}

.courses h1{
  text-align: center;
}

.row1 {
  display: flex;
  border: red solid 0.1rem;
  /*width: 100%*/
  flex-direction: row;
}

.row2 {
  display: flex;
  border: red solid 0.1rem;
  /*width: 100%*/
  flex-direction: row;
}

/*Thesis section*/

#thesishd {
  text-align: center;
}

.thesis {
    display: flex;
    flex-direction: row;
}

.vidcol video{
  border: red solid 0.1rem;
  box-sizing: content-box;
  width: 60%;
  flex-direction: column;
}

.thesiscol {
  display: flex;
  flex-direction: column;
}

/*Footer styling*/

footer {
  border: red solid 0.1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 3rem;
  align-items: center;
}

.copyright {
  margin-left: 1.5rem;
}

#terms {
  margin-left: 48rem;
  border: red solid 0.1rem;
}

.legal {
  margin-left: 2rem;
}
